﻿
/*BODY*/
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
/****** PAGE ACCUEIL ******/
/* 1 pour abonnement et 2 pour options */
.container1, .container2{
	text-align: center;
	height:250px;
	
}

.container1 .caract{
	text-align: left;
}

.selectedOffer{
	background-color: hsl(177, 93%, 14%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#07d8ce", endColorstr="#024441");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#07d8ce), to(#024441));
	background-image: -moz-linear-gradient(top, #07d8ce, #024441);
	background-image: -ms-linear-gradient(top, #07d8ce, #024441);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #07d8ce), color-stop(100%, #024441));
	background-image: -webkit-linear-gradient(top, #07d8ce, #024441);
	background-image: -o-linear-gradient(top, #07d8ce, #024441);
	background-image: linear-gradient(#07d8ce, #024441);
	border-color: #024441 #024441 hsl(177, 93%, 6.5%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.49);
	-webkit-font-smoothing: antialiased;
}

.mouseOver{
	cursor: pointer;
}

.container_valid{
	text-align:center;
	display:none;
}

.btn-custom{
	background-color: hsl(177, 93%, 14%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#07d8ce", endColorstr="#024441");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#07d8ce), to(#024441));
	background-image: -moz-linear-gradient(top, #07d8ce, #024441);
	background-image: -ms-linear-gradient(top, #07d8ce, #024441);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #07d8ce), color-stop(100%, #024441));
	background-image: -webkit-linear-gradient(top, #07d8ce, #024441);
	background-image: -o-linear-gradient(top, #07d8ce, #024441);
	background-image: linear-gradient(#07d8ce, #024441);
	border-color: #024441 #024441 hsl(177, 93%, 6.5%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.49);
	-webkit-font-smoothing: antialiased;
}

.btn-custom-cancel { 
	background-color: hsl(0, 54%, 4%) !important; 
	background-repeat: repeat-x; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d47171", endColorstr="#0f0404"); 
	background-image: -khtml-gradient(linear, left top, left bottom, from(#d47171), to(#0f0404)); 
	background-image: -moz-linear-gradient(top, #d47171, #0f0404); 
	background-image: -ms-linear-gradient(top, #d47171, #0f0404); 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d47171), color-stop(100%, #0f0404)); 
	background-image: -webkit-linear-gradient(top, #d47171, #0f0404); 
	background-image: -o-linear-gradient(top, #d47171, #0f0404); 
	background-image: linear-gradient(#d47171, #0f0404); 
	border-color: #0f0404 #0f0404 hsl(0, 54%, -11%); 
	color: #fff !important; 
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.99); 
	-webkit-font-smoothing: antialiased; 
}

/******** Page Telephone *******/
.container_img{
	width:170px;
	height:200px;
}

.container_price{
	text-align:center;
}

.image_caracteristique{
	height:325px;
	text-align:center;
}
.img-responsive-custom {
    display: block;
    width: auto;
    max-height: 100%;
}  

.center_class{
	text-align:center;
}

.right_class{
	text-align:right;
}

.left_class{
	text-align:left;
}

/********* PAGE RECAP **********/

#tableRecap tr td{
	height:100px;
	vertical-align:middle;
}

